/*-- 定义html标记格式 --*/
body  { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    background-color:#E6ECF2
}

table  { 
font-family: Tahoma, Arial; 
color: #000000; 
font-size: 12px; 
}

hr  { 
height: 1px; 
border: 0; 
border-top: 1px solid #CCCCCC; 
}


.a_black		{ color: #FFFFFF; text-decoration: none;}

/*-- 定义普通链接格式 --*/
a  { text-decoration: none; color: #808080 }
a:hover  { text-decoration: underline; color:#c25d4c }

/*-- 定义标题 --*/
.title       	{ font-weight: bold; background-color: #ffb5b5; font-style:normal; font-variant:normal; color:#FFFFFF }
.header      	{ font-weight: bold; background-color: #ffb5b5; font-style:normal; font-variant:normal; color:#FFFFFF }
.tableborder	{ background: #ffb5b5; border: 1px solid #ffb5b5;  } 
.altbg1		    { background: #EFEFEF;; font-weight:bold    }
.altbg2		    { background: #FFFFFF }